.button:link,
.button:visited {
	display: inline-block;
	padding: 15px;
	font-size: 20px;
	font-size: 1em;
	-webkit-appearance: none;
	background-color: $colour-black;
	color: $colour-yellow;
	font-weight: bold;
	text-transform: uppercase;
  color: $colour-white;
	text-decoration: none;
	margin-bottom: $spacing-scale-5;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-7;
	}
}

.button:hover {
  color: $colour-yellow;
}