input {
	-webkit-appearance: none;
	appearance: none;
}

html {
	font-size: 100%;
	font-family: 'Roboto', arial, sans-serif;
}

body {
	border-top: 6px solid $colour-yellow;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

kbd {
  padding: 0.0625rem 0.5rem;
  border-radius: 0.125rem;
  border: 1px solid $colour-black;
  box-shadow: 1px 1px 0 currentColor, 1px 1px 0 currentColor;
}

a:link,
a:visited {
	color: $colour-blue;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	background-color: $colour-blue;
	color: $colour-white;
}

.status {
	border: 3px solid $colour-black;
	border-radius: 3px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	background-color: $colour-yellow;
}

section {
	padding: 30px 25px;
	@include mq($from: md) {
		padding: 60px 50px;
	}
}

.inner {
	max-width: 1400px;
}

.prose {
	max-width: 600px;
}

section:first-child {
	padding-top: 60px;
}

section:nth-child(2n) {
	background-color: $colour-yellow-light;
}

section:nth-child(4n) {
	background-color: $colour-yellow;
}

.available {
	@include typography(body);
	text-transform: uppercase;
	font-weight: bold;
	color: #788b9b;
	letter-spacing: 0.03em;
	margin: 10px 0 5px;
}

h1 {
	@include typography(xl);
	margin-bottom: $spacing-scale-3;
	color: $colour-black;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-6;
	}
}

h2 {
	@include typography(l);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-scale-2;
	color: $colour-black;

	@include mq($from: md) {
		margin-top: $spacing-scale-5;
	}
}

h3 {
	@include typography(body);
	margin-bottom: $spacing-scale-1;
	color: $colour-black;
	margin-top: $spacing-scale-7;
}

p {
	@include typography(body);
	margin-bottom: $spacing-scale-4;
	color: $colour-black;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-6;
	}
}

ol,
ul {
	margin-bottom: $spacing-scale-4;
	color: $colour-black;
}

ol li,
ul li {
	@include typography(body);
	margin-left: $spacing-scale-4;
	margin-bottom: $spacing-scale-1;
}

blockquote {
	font-style: italic;
	margin-bottom: $spacing-scale-4;
	padding: 0 $spacing-scale-3;
	color: $colour-black;
	border-left: 5px solid $colour-yellow;
}

blockquote cite {
	font-weight: bold;
}

.book {
	display: block;
	max-width: 600px;
	width: 100%;
}

.block {
	overflow: hidden;
}

.block-section1 {
	margin-bottom: 50px;
	@include mq($from: lg) {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding-right: 50px;
	}
}

.block-section2 {
	@include mq($from: lg) {
		float: right;
		width: 50%;
		box-sizing: border-box;
		padding-left: 50px;
	}
}

