$multiple       : 5px !default;
$spacing-scale-1: $multiple;

$spacing-scale-2: $multiple * 2; // 10
$spacing-scale-3: $multiple * 3; // 15
$spacing-scale-4: $multiple * 4; // 20
$spacing-scale-5: $multiple * 5; // 25
$spacing-scale-6: $multiple * 6; // 30
$spacing-scale-7: $multiple * 7; // 40
$spacing-scale-8: $multiple * 8; // 60
$spacing-scale-9: $multiple * 9; // 85
$spacing-scale-10: $multiple * 10; // 100