.subscribeForm {
	margin: 0 auto $spacing-scale-4;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-8;
	}
}

.subscribeForm-label {
	font-size: 1.1875em;
  line-height: 1.684210526;
	display: block;
	font-weight: 700;
	color: $colour-black;
}

@media(min-width: 37em) {
	.subscribeForm-label {
		font-size: 1.38em;
	}
}

.subscribeForm-email {
	display: block;
	padding: $spacing-scale-3;
	font-size: 20px;
	font-size: 1em;
	border-radius: 0;
	-webkit-appearance: none;
	border: 3px solid $colour-black;

	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;

	@include mq($from: 37em) {
		display: inline-block;
		max-width: 21em;
		margin-bottom: 0;
	}
}

.subscribeForm-button {
	display: inline-block;
	padding: $spacing-scale-3 $spacing-scale-3;
	font-size: 20px;
	font-size: 1em;
	border-radius: 8px;
	-webkit-appearance: none;
	border: 3px solid $colour-black;
	background-color: $colour-black;
	color: $colour-yellow;
	font-weight: bold;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 100%;

	@include mq($from: 37em) {
		width: auto;
		border-radius: 0 8px 8px 0;
		position: relative;
		left: -1px;
	}
}

.subscribeForm-button:hover {
	color: $colour-white;
	// background-color: $colour-black-dark;
	// border-color: $colour-black-dark;
}
