---
layout: layouts/default.njk
---

{% block main %}
  <div class="article">
    <h1>{{ title }}</h1>

    {{ content | safe }}

    <p><a href="{{ '/' | url }}">← Home</a></p>
  </div>
{% endblock %}