/* ==========================================================================
   SETTINGS
   ========================================================================== */

:root {
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Menlo, Monaco, "Courier New", monospace;
  --color-blue: #ffbf47;
  --color-primary: var(--color-blue);
  --color-gray-0: #111;
  --color-gray-70: #767676;
  --color-gray-30: #eee;
}


/* ==========================================================================
   GENERIC
   ========================================================================== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 1rem;
  font-family: var(--font-family-system);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-gray-0);
  border-top: 6px solid var(--color-primary);
}

@media screen and (min-width: 720px) {
  body {
    padding: 4rem;
  }
}

section + section {
  padding-top: 2rem;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-top: 56px;
}

p, ol {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 32px;
}

ol {
  margin-left: 32px;
}

a {
  color: inherit;
  -webkit-text-decoration-color: var(--color-primary);
          text-decoration-color: var(--color-primary);
}

.subscribe-form {
  display: flex;
}

.subscribe-form input[type=email] {
	padding: 10px;
	font-size: 20px;
	font-size: 1em;
	border-radius: 0;
	-webkit-appearance: none;
  border: 3px solid black;
  width: 300px;
}

.subscribe-form input[type=submit] {
	padding: 10px 16px;
	font-size: 20px;
	font-size: 0.8em;
	border-radius: 8px;
	-webkit-appearance: none;
	border: 3px solid black;
	background-color: black;
	color:var(--color-primary);
	font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-form input[type=submit]:hover {
  background-color: #333;
  border: 3px solid #333;
}