---
title: "Form Design Patterns Book"
heading: true
permalink: /
---

{% extends 'layouts/default.njk' %}
{% from 'components/reference.njk' import reference %}

{% block main %}
  <h1>Form Design Patterns Book</h1>
  <p>A Practical Guide to Designing and Coding Simple and Inclusive Forms for the Web.</p>

  <h2>Contents</h2>
  <p>Some contents.</p>

  <h2>Mailing list</h2>
  <form action="https://adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>

    <!-- interested in form design patterns book updates -->
    <input type="hidden" value="1" name="group[34661][1]" id="mce-group[34661]-34661-0">

    <div>
      <label for="mce-EMAIL">Email Address </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b8fb04f39bf86109693e00ba5_441c045a36" tabindex="-1" value=""></div>

    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>


<!--End mc_embed_signup-->
{% endblock %}
